Daily_Invoice_Followup.json
{
  "name": "Daily_Invoice_Followup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "0357cc5a-9dda-4802-8f9e-b3405ef16231",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU",
          "mode": "list",
          "cachedResultName": "Debt_Collection_System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 296641465,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU/edit#gid=296641465"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Unpaid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        0
      ],
      "id": "3f039318-7c56-48e4-89fe-55c7c984af50",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BcRUNGhXVqSRtZJP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU",
          "mode": "list",
          "cachedResultName": "Debt_Collection_System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 296641465,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eYibeXHHeswLfc4Fsh3bLWGQXE0by8jBvz2_s3uMVEU/edit#gid=296641465"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice_ID": "={{ $('Loop Over Items').item.json.Invoice_ID }}",
            "Reminders_Sent": "={{ $json.Reminders_Sent + 1 }}",
            "Last_Notice_Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "Invoice_ID"
          ],
          "schema": [
            {
              "id": "Invoice_ID",
              "displayName": "Invoice_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client_Name",
              "displayName": "Client_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due_Date",
              "displayName": "Due_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminders_Sent",
              "displayName": "Reminders_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Notice_Date",
              "displayName": "Last_Notice_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        -48
      ],
      "id": "4113e219-ba87-4dac-915d-8f3da2808dac",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BcRUNGhXVqSRtZJP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=preo.novo@gmail.com\n",
        "toEmail": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "=html",
        "html": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <h2 style=\"color: #d9534f;\">Payment Reminder</h2>\n  <p>Dear <b>{{ $json.Client_Name }}</b>,</p>\n  <p>This is a formal notice regarding your outstanding invoice <b>#{{ $json.Invoice_ID }}</b>.</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><b>Amount Due:</b></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">${{ $json.Amount }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><b>Days Overdue:</b></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: red;\">{{ $json.diffDays }} days</td>\n    </tr>\n  </table>\n\n  <p>Please settle this amount as soon as possible to avoid any further action.</p>\n  <p>Thank you,<br><b>Accounts Department</b></p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1424,
        -48
      ],
      "id": "871e81b0-27af-4bbd-8092-39a2464171ea",
      "name": "Send email",
      "webhookId": "c39b50eb-2a78-419d-abbc-1d33ca191631",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "smtp": {
          "id": "OK9jf11wyK9klJW5",
          "name": "SMTP account 5"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        288
      ],
      "id": "d4ed5da1-f651-4508-8c21-775923369cbd",
      "name": "Wait",
      "webhookId": "2e68b8bf-b211-47e3-9c43-783268096efe"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        176
      ],
      "id": "9ab9bcb0-ac5b-4f41-94a2-b547437dcc06",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\n\nreturn $input.all().map(item => {\n    const dueDate = new Date(item.json.Due_Date);\n    const diffDays = Math.ceil((today - dueDate) / (1000 * 60 * 60 * 24));\n    \n    let priority = \"Normal\";\n    let subject = \"\";\n    \n    if (diffDays > 14) {\n        priority = \"Critical\";\n        subject = `FINAL NOTICE: Invoice ${item.json.Invoice_ID}`;\n    } else if (diffDays > 0) {\n        priority = \"Reminder\";\n        subject = `Overdue: Invoice ${item.json.Invoice_ID}`;\n    }\n\n    return {\n        json: { ...item.json, diffDays, priority, subject }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "cc1fd20e-e8b9-4acd-8e97-505c99220aba",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "376ab5ca-bf54-4f26-b3cb-fb0f2c2370fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb98315230d9ab550588238efc46bef46bdcd182ec1fc2f689f0928b8bfaa776"
  },
  "id": "DsOGpjR5F85_HTQVw0oPS",
  "tags": []
}